@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    <ul class="pizza-cards">
        @if (_specials != null)
        {
            @foreach (var special in _specials)
            {
                <li @onclick="@(() => ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

<div class="sidebar">
    @if (_order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in _order.Pizzas)
            {
                <ConfiguredPizzaItem OnRemoved="@(() => RemoveConfiguredPizza(configuredPizza))"
                                     Pizza="configuredPizza" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza to get started</div>
    }

    <div class="order-total @(_order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@_order.GetFormattedTotalPrice()</span>
        <button class="btn btn-warning" disabled="@(!_order.Pizzas.Any())" @onclick="PlaceOrderAsync">
            Order
        </button>
    </div>

</div>

@if (_showingConfigureDialog)
{
    <ConfigurePizzaDialog Show="_showingConfigureDialog"
                          Pizza="_configuringPizza"
                          OnCancel="CancelConfigurePizzaDialog"
                          OnConfirm="ConfirmConfigurePizzaDialog" />
}